    #map_holder {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    #map_holder #map_inner svg {
        height: 650PX;
        margin-top: 10PX;
        margin-bottom: 10PX;
        margin-left: 140PX;
        z-index: 0;
        /* margin-top: -150px; */
    }