    #map_holder {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    #map_holder #map_inner svg {
        height: 200px;
        margin-left: -350px;
        /* margin-top: -150px; */
    }